/* 
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/

// We use these to define default font stacks
$typo-courant: "Ubuntu", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$typo-titres: "Amatic SC", cursive;

$font-family-sans-serif: "Ubuntu", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-color-standard : #726e6a;
$font-color-dark : #3b3429;
$font-color-grey : #7d7d7d;
$font-color-recettes : #726e6a;
$font-color-footer: #676c53;


// pulvermuhle couleurs
$brun : #3b3429;
$bleu : #008f91;
$bleu-dark : #005657;
$rouge : #eb6b5f;
$rouge_alpha:rgba(125,11,0,.5);
$vert-actu-titre:#60a985;
$vert-actu:#202e16;
$footer_bg : #ede9e3;
$top_menu_link:#746d62;
$top_menu_link_hover:#7d9910;

$couleur_presentation : #c9e55a;
$couleur_presentation_textes : #7d9910;
$couleur_presentation_dropdownborder : rgba(201,229,90,.5);


$couleur_actualites : #eb6b5f;
$couleur_actualites_textes : #eb6b5f;
$couleur_actualites_dropdownborder : rgba(235,107,95,.5);

$couleur_outrouver : #00d8eb;
$couleur_outrouver_textes : #00d8eb;
$couleur_outrouver_dropdownborder : rgba(0,216,235,.5);

$couleur_lavente : #89d9b1;
$couleur_lavente_textes : #89d9b1;
$couleur_lavente_dropdownborder : rgba(137,217,177,.5);

$couleur_nosproduits : #e77e23;
$couleur_nosproduits_textes : #e77e23;
$couleur_nosproduits_dropdownborder : rgba(231,126,35,.5);

$couleur_nosrecettes : #9c59b8;
$couleur_nosrecettes_textes : #9c59b8;
$couleur_nosrecettes_dropdownborder : rgba(51,72,0,.5);

$couleur_faq : #f1c40f;
$couleur_faq_textes : #c9a514;
$couleur_faq_dropdownborder : rgba(241,196,15,.5);

$couleur_contact : #759201;
$couleur_contact_textes : #759201;
$couleur_contact_dropdownborder : rgba(117,146,1,.5);


// Foundation color naming conventions
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// We use these as default colors throughout
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$topbar-bg-color: $white;
$topbar-bg: $white;

// $topbar-sticky-class: ".sticky";
$topbar-arrows: false; //Set false to remove the triangle icon from the menu item
// $topbar-dropdown-arrows: true; //Set false to remove the \00bb >> text from dropdown subnavigation li//
// $topbar-divider-border-bottom: solid 1px scale-color($topbar-bg-color, $lightness: 13%);

// séparateurs menu principal
$topbar-divider-border-top: none;
$topbar-divider-border-bottom: none;

// couleurs par défaut du menu principal
$topbar-link-color: $top_menu_link;
$topbar-link-color-hover: $top_menu_link_hover;
$topbar-link-color-active: $top_menu_link_hover;
$topbar-link-color-active-hover: $top_menu_link_hover;
$topbar-link-weight: 500;
$topbar-link-font-size: rem-calc(16);
$topbar-link-hover-lightness: 0%;
$topbar-link-bg: $white;
$topbar-link-bg-hover: $white;
$topbar-link-bg-color-hover: $white;
$topbar-link-bg-active: $white;
$topbar-link-bg-active-hover: $white;
$topbar-link-font-family: $typo-courant;
$topbar-link-text-transform: none;
// $topbar-link-padding: ($topbar-height / 3);
// $topbar-back-link-size: rem-calc(18);
// $topbar-link-dropdown-padding: rem-calc(20);
// $topbar-button-font-size: .75rem;
// $topbar-button-top: 7px;

// couleurs par défaut des sous-menu du menu principal
$topbar-dropdown-bg: $white;
$topbar-dropdown-link-color: $top_menu_link;
$topbar-dropdown-link-color-hover: $top_menu_link_hover;
$topbar-dropdown-link-bg: $white;
$topbar-dropdown-link-bg-hover: $white;
$topbar-dropdown-link-weight: $font-weight-normal;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: $top_menu_link;
$topbar-dropdown-toggle-alpha: .4;

$topbar-dropdown-label-color: $top_menu_link;
$topbar-dropdown-label-text-transform: none;
$topbar-dropdown-label-font-weight: 500;
$topbar-dropdown-label-font-size: rem-calc(15);
$topbar-dropdown-label-bg: $white;

// couleurs et réglages des panels (bloc page actualités/archives)
// 21. Panels
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-panel-classes: $include-html-classes;

// We use these to control the background and border styles
$panel-bg: #FFF;
// $panel-border-style: solid;
// $panel-border-size: 1px;
// $callout-panel-bg: scale-color($primary-color, $lightness: 94%);

// We use this % to control how much we darken things on hover
// $panel-border-color: scale-color($panel-bg, $lightness: -11%);

// We use these to set default inner padding and bottom margin
$panel-margin-bottom: rem-calc(20);
$panel-padding: 0;

// We use these to set default font colors
// $panel-font-color: $oil;
// $panel-font-color-alt: $white;

// $panel-header-adjust: true;
// $callout-panel-link-color: $primary-color;
// $callout-panel-link-color-hover: scale-color($callout-panel-link-color, $lightness: -14%);

// We use these to control various global styles
$body-LRmargin : 50;
$body-bg: $white;
$body-font-color: $jet;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$header-font-weight: 300;
$header-text-rendering: optimizeLegibility;
$topbar-link-weight: bold;

$row-width: rem-calc(1280); // largeur sans marge 2X50px
$row-full-width: rem-calc(1380); // avec marges blanches 2X50px
$total-columns: 12;
$column-gutter: rem-calc(0);

// Media query breakpoints
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$topbar-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1380);
$xlarge-breakpoint: em-calc(1920);