// pages d'archives et taxonomies

header.archives {
    background-color: #FFF;
    margin: 0;
    padding: 30px;
    position: relative;
    left: -35px;
    top: -50px;
    width: 109%;
}

.second-menu-container {
	ul,li {
		list-style-type:none;
		padding:0;
		margin:0;
	}
	li {
		float:left;
		display: inline-block;
	}
	ul.menu>li::before {
    content: '\25fc';
    font-size: 15px;
    color: $gris-light;
    margin-left: 10px;
    padding: 0px;
    line-height: 15px;
	}
	li a {
		font-size:rem-calc(14);
		line-height:rem-calc(21);
		font-weight:400;
		color:$font-color-grey;
		text-decoration:none;
		text-transform: uppercase;
		border-bottom:1px solid #FFF;
		transition:all .3s;
	}
	li a:hover, li a:active, li a:focus, li.active a {
		border-bottom:thin solid $font-color-dark;
		text-decoration:none;
		color:$font-color-grey;
	}
}

// panels
.post-archive.panel {
	position: relative;
	
	.thumb-actualites {
		width:100%;	
	}
	.thumb-produits {
		display:inline-block;
		float:left;
		//width:180px;
		min-height:180px;
	}
	.thumb-actualites img,.thumb-produits img {
		width:100%;
	}
	
	.post_date {
		position:absolute;
		top:20px;
		left:20px;
		width:auto;
		height:auto;
		background-color:$rouge;
		font-size:rem-calc(14);
		line-height:rem-calc(40);
		font-weight:400;
		color:#FFF;
		padding:0 10px;
		text-transform: uppercase;
	}
	
	.content-actualites {
		
		padding : 20px 25px 0px 20px;
		p {
		font-size:rem-calc(14);
		line-height:rem-calc(21);
		color:$font-color-grey;
		}
		h2, h2 a{
			font-size:rem-calc(33);
			font-weight:700;
			line-height: rem-calc(35);
		}
	}
	
	.content-produits {
		
		display:inline-block;
		float:left;
		padding : 20px 25px 0px 20px;
		p {
			font-size:rem-calc(14);
			line-height:rem-calc(21);
			color:$font-color-grey;
		}
		p.dates{
			font-size:rem-calc(16);
			line-height:rem-calc(18);
			color:#008f91;
			font-weight: 400;
			
			b {
			color:$bleu-dark;
			font-weight: 700;
			text-transform: uppercase;
			}
		}
		h2 {
			padding-left:rem-calc(30);
			background: url(../img/icones/produit-titre.png) 0 11px no-repeat;
			background-size: 18px;
			display:inline-block;
			margin-bottom:0;
			margin-top:0;
			
			span.latin{
				font-family:$font-family-sans-serif;
				font-size:rem-calc(14);
				line-height:rem-calc(16);
				color:$font-color-grey;	
					font-style:italic;
				font-weight: 400;
				margin-bottom:0;
				white-space:nowrap;
			}
			
		}
		h2 a{
			font-size:rem-calc(28);
			font-weight:700;
			line-height: rem-calc(28);
			color:$bleu-dark;
		}
		div.varietes {
			font-family:$font-family-sans-serif;
			font-size:rem-calc(14);
			line-height:rem-calc(16);
			color:$font-color-grey;	
			font-weight: 700;
			padding-left:rem-calc(30);
		}
		.entry-content {
			margin-top:10px;	
		}
		
	}
	
	.read-more-container {
		width:100%;
		text-align: center;
		border-top:1px solid #f8f8f8;
		background-color: #fff;
		position:relative;
		bottom:0;
		transition:background .3s;
	}
	.read-more-container:hover {
		background-color: #f8f8f8;
	}
	
	.read-more-container a {
		font-size:rem-calc(16);
		color:$font-color-grey;
		text-decoration: none;
		text-transform: uppercase;
		line-height:rem-calc(50);
	}
	
	.calendrier {
		
		.mois {
			height:50px;
			text-align: center;
			font-size:rem-calc(16);
			color:$font-color-grey;
		}
		.mois b {
			color:$bleu !important;
		}
		
		.mois .coche {
			display:block;
			width:16px;
			height:18px;
			border:thin solid #d7d7d7;
			border-radius:1px;
			margin:0 auto;
		}
		
		.mois .coche.active {
			border:none;
			background-color:$couleur_presentation;
		}
	}
}

#featured-archive {
margin-bottom:50px;	
}

.post-archive.featured {
	position:relative;
	
	.post_date {
		position:absolute;
		top:20px;
		left:20px;
		width:auto;
		height:auto;
		background-color:$rouge;
		font-size:rem-calc(14);
		line-height:rem-calc(40);
		font-weight:400;
		color:#FFF;
		padding:0 10px;
		text-transform: uppercase;
	}
	
	
	
	.content-actualites {
		position:absolute;
		bottom:0;
		width:100%;
		background:$rouge_alpha;
		padding : 10px 25px 0px 20px;
		
		p {
		font-size:rem-calc(16);
		line-height:rem-calc(21);
		color:#FFF;
		margin-bottom:12px;
		}
		h2, h2 a{
			font-size:rem-calc(33);
			font-weight:700;
			line-height: rem-calc(35);
			color:#FFF;
			margin-bottom: 2px;
		}
		
		.read-more-container {
		position:absolute;
		right:0;
		bottom:0;
		width:83px;
		height:83px;
		
			a.read-more-link {
				display: block;
				width:83px;
			height:83px;
				background:url(../img/readmore-actus-home.jpg) center center no-repeat $rouge;
				background-size:83px;
			transition:background .3s;
			}
			a.read-more-link:hover {
				background:url(../img/readmore-actus-home-hover.jpg) center center no-repeat #FFF;
				background-size:83px;
			}
		}
	}
}
	
.recettes .post-archive.featured .post_date, .recettes .post-archive.panel .post_date {
	background:$bleu;
}
.recettes .post-archive.featured .content-actualites {
	background:$bleu_alpha;
}

// pagination
ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
text-decoration:none;	
}

ul.pagination li a, ul.pagination li button {
    border-radius: 1px;
    transition: background-color 300ms ease-out;
    background: #fff;
    color: $font-color-grey;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: inherit;
    padding: rem-calc(10);
	text-decoration:none;	
}

ul.pagination li a:hover, ul.pagination li button:hover {
	text-decoration:none;	
}

@media #{$small-only} {
	.content-produits h2 {
			background: url(../img/icones/produit-titre.png) 0 0px no-repeat;
	}
	.content-produits h2 span.latin{
			white-space: pre !important;
	}
}