/*
* CSS récurrentes (colonnes, containeurs généraux, ...)
*/

.move-right .exit-off-canvas {
left:250px;
background: rgba(255,255,255,0.0);
}

section.container {
//margin:0 rem-calc($body-LRmargin);
margin:0 0;
}

.top-bar-container, .tab-bar {
margin-bottom:0;
}

.clearer{
clear:both;
}

.columns.lr-padding {
padding-right:20px !important;
}

.columns.nolr-padding {
padding-right:0px !important;
padding-left:0px !important;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{
	text-decoration:none;
}

h1.dark, h2.dark, h3.dark, h4.dark, h5.dark, h6.dark {
color:$bleu-dark !important;	
}

.grid-block-container ul, .grid-block-container ul li {
	list-style-type: none;
}

.grid-block-container>li::before, ul.pagination li::before, ul.image-gallery li::before {
display:none !important;
}

.row.white{
background-color:$white;
}

iframe {
border:none;
}