#footer-container {
	background-color:$footer_bg;
    padding:0 rem-calc($body-LRmargin);
	
	color:$font-color-footer;
	font-size:rem-calc(12);
	line-height:rem-calc(19);
	text-transform: uppercase;
	
	>footer .columns:first-child {
		margin-top:50px;	
		margin-bottom:50px;	
	}
	
	.textwidget {
		margin-top:5px;
	}
	
	ul.menu {
		list-style: none;
		padding:0;
		margin:0;
		
		>li:not(:first-child)::after {
		content:"";
		display:block;
		width:5px;
		height:5px;
		position:relative;
		background-color:#CCC;
		left:0;
		top:-12px;
		z-index:500;
		}
		
		a {
			font-size:rem-calc(14);
			line-height: rem-calc(19);
			color:$font-color-footer;
			text-decoration: none;
			transition:color .3s;
			
			padding:0 20px 0 20px;
		}
		li:first-child>a {
			padding:0 20px 0 0;	
		}
		a:hover {
			color:$rouge;
		}	
		li {
			float:left;
			display:inline-block;
		}
	}
	
	.footer-logo {
		display:inline-block;
		float:right;
		height:100px;
		line-height:100px;
		margin-left: 20px;
		margin-top:13px;
		
		img{
			vertical-align: middle;
		}
	}
	
	.footer-logo.logo-ab {
		padding-top:4px;	
	}
	
}


// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}