header.recettes-header {
	background:url(../img/bg_content_textes.jpg) top left repeat;
}
.page-text-content.recette {
	background-image:none;
	background-color:#FFF;
}

.recettes {
	.ingredients .block_titre {
		width:100%;
		text-align:center;
		font-family:$typo-titres;
		color:$bleu-dark;
		font-weight:700;
		font-size:rem-calc(36);
		line-height:rem-calc(39);
		text-transform:uppercase;
		padding-top:30px;
	}
	
	.ingredients .block_related {
		width:100%;
		text-align:center;
		a {
			color:$rouge;
			font-size:rem-calc(22);
			line-height:rem-calc(23);
			text-decoration:none;
		}
		
	}
	
	ul.related-posts>li:not(:first-child)::before {
	content:", ";	
	}
	ul.related-posts>li:first-child::before {
	content:"";	
	}
	
	.ingredients .separator {
		width:70px;
		border-top:thin solid $font-color-grey;
		margin:30px auto;
	}
	
	.ingredients .container_ingredients {
		padding-left:25px;
		font-size:rem-calc(18);
		line-height:rem-calc(27);
		color:$font-color-recettes;
	}
	
	.informations {
		margin-top:15px;
		
		.picto {
			display: inline-block;
			/* width: 55px; */
			/* height: 53px; */
			vertical-align: middle;
			margin: 0;
			padding: 26px;
			margin-bottom: 11px;
		}
		.picto.difficulte {
			background: url(../img/pictos/picto_difficulte.png) top left no-repeat #008f91;
			background-size: 53px;
		}
		.picto.temps {
			background: url(../img/pictos/picto_temps.png) top left no-repeat #008f91;
			background-size: 53px;
		}
		.picto.cuisson {
			background: url(../img/pictos/picto_cuisson.png) top left no-repeat #008f91;
			background-size: 53px;
		}
		.picto.portions {
			background: url(../img/pictos/picto_portions.png) top left no-repeat #008f91;
			background-size: 53px;
		}
	}
	
	.informations .titre {
		font-family:$typo-titres;
		color:$rouge;
		font-weight:700;
		font-size:rem-calc(26);
		line-height:rem-calc(53);
		text-transform:uppercase;

	}
	
	.informations .information {
		font-size:rem-calc(18);
		line-height:rem-calc(20);
		color:$font-color-recettes;
		padding-left:10px;
		text-transform:uppercase;
		white-space: nowrap;
	}
	
	.informations .icone {
		width:53px;
		height:53px;
		background-color: $bleu;
		display:inline-block;
	}
	
	.informations .info-item {
		padding:10px 20px 10px 20px;	
	}
	
	.preparation {
		padding:25px 20px 10px 20px;
	}
}